/* Menggunakan @font-face untuk memuat font Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    /* URL diambil dari googlefonts */
}

/* Mengatur font untuk seluruh konten situs */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 918px;
}

/* CSS untuk header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #32508C;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

/* CSS untuk footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0px 15px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.navigation {
    align-self: flex-end; /* Memindahkan menu ke pojok kanan bawah */
}

    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .navigation ul li {
            display: inline;
            margin-right: 20px;
        }

            .navigation ul li:last-child {
                margin-right: 0;
            }

            .navigation ul li a {
                text-decoration: none;
                color: #fff;
            }

                .navigation ul li a:hover {
                    color: #ccc;
                }

.login .login-link {
    color: #fff;
    text-decoration: none;
    margin-left: auto;
}